<mat-toolbar>Ventas</mat-toolbar>

<div class="row">
  <mat-select placeholder="Usuario" [(value)]="userSelectedId">
    <mat-option *ngFor="let user of users" [value]="user.id">
      {{ user.name }}
    </mat-option>
  </mat-select>
  <button mat-raised-button color="primary" type="button" (click)="search()">
    Buscar
  </button>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mmat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
      <td mmat-cell *matCellDef="let row">{{ row.total }}</td>
    </ng-container>

    <ng-container matColumnDef="saleDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha venta</th>
      <td mmat-cell *matCellDef="let row">{{ row.saleDate }}</td>
    </ng-container>

    <ng-container matColumnDef="modifiedBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
      <td mmat-cell *matCellDef="let row">{{ row.modifiedBy.name }}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" (click)="openDialog(row)">
        <mat-icon>ballot</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="delete(row.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<mat-paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
></mat-paginator>
